.env
__pycache__/
*.pyc
cache/*
datasets/raw/*
datasets/processed/*
datasets/flux_lora/*
models/comfyui/*
models/flux/*
models/joycaption/*
models/rmbg/*
outputs/lora/*
outputs/logs/*
outputs/samples/*
!cache/.gitkeep
!datasets/raw/.gitkeep
!datasets/processed/.gitkeep
!datasets/flux_lora/.gitkeep
!models/comfyui/.gitkeep
!models/flux/.gitkeep
!models/flux/diffusion_models/.gitkeep
!models/flux/text_encoders/.gitkeep
!models/flux/vae/.gitkeep
!models/joycaption/.gitkeep
!models/rmbg/.gitkeep
!outputs/lora/.gitkeep
!outputs/logs/.gitkeep
!outputs/samples/.gitkeep
